@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Cabin-Bold";
    src: url("/fonts/Cabin-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

p {
    font-family: 'Cabin', sans-serif;
}

.cabin-bold {
    font-family: 'Cabin-Bold', sans-serif;
}

.gradient-text {
    background: rgb(27, 200, 146);
    background: linear-gradient(90deg, #7bdcbd, #0974b9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #121212;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-3d {
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 2px 1px #7b7b7b,
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 1px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.gradient-background {
    background: linear-gradient(90deg, #7bdcbd, #0974b9 100%);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0974b9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7bdcbd;
}