@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Cabin-Bold";
    src: url("/fonts/Cabin-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

p {
    font-family: 'Cabin', sans-serif;
}

.cabin-bold {
    font-family: 'Cabin-Bold', sans-serif;
}

.gradient-text {
    background: rgb(27, 200, 146);
    background: -webkit-linear-gradient(left, #7bdcbd, #0974b9 100%);
    background: linear-gradient(90deg, #7bdcbd, #0974b9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #121212;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-3d {
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 2px 1px #7b7b7b,
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 1px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.gradient-background {
    background: -webkit-linear-gradient(left, #7bdcbd, #0974b9 100%);
    background: linear-gradient(90deg, #7bdcbd, #0974b9 100%);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0974b9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7bdcbd;
}

/* blinking neon text */

@-webkit-keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #deecf6;
        text-shadow: 0 0 0.6rem #5cb2ec, 0 0 1.5rem #0974b9,
            -0.2rem 0.1rem 1rem #0974b9, 0.2rem 0.1rem 1rem #43a7e9,
            0 -0.5rem 2rem #0974b9, 0 0.5rem 3rem #0974b9;
    }

    28%,
    33% {
        color: #deecf6;
        text-shadow: none;
    }

    82%,
    97% {
        color: #deecf6;
        text-shadow: none;
    }
}

@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #deecf6;
        text-shadow: 0 0 0.6rem #5cb2ec, 0 0 1.5rem #0974b9,
            -0.2rem 0.1rem 1rem #0974b9, 0.2rem 0.1rem 1rem #43a7e9,
            0 -0.5rem 2rem #0974b9, 0 0.5rem 3rem #0974b9;
    }

    28%,
    33% {
        color: #deecf6;
        text-shadow: none;
    }

    82%,
    97% {
        color: #deecf6;
        text-shadow: none;
    }
}

.flicker {
    -webkit-animation: shine 2s forwards, blink 3s 2s infinite;
            animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    -webkit-animation: shine 2s forwards, blink 10s 1s infinite;
            animation: shine 2s forwards, blink 10s 1s infinite;
}

@-webkit-keyframes shine {
    0% {
        color: #deecf6;
        text-shadow: none;
    }

    100% {
        color: #deecf6;
        text-shadow: 0 0 0.6rem #81b9de, 0 0 1.5rem #b7dff9,
            -0.2rem 0.1rem 1rem #0974b9, 0.2rem 0.1rem 1rem #0974b9,
            0 -0.5rem 2rem #91d1fb, 0 0.5rem 3rem #80c0eb;
    }
}

@keyframes shine {
    0% {
        color: #deecf6;
        text-shadow: none;
    }

    100% {
        color: #deecf6;
        text-shadow: 0 0 0.6rem #81b9de, 0 0 1.5rem #b7dff9,
            -0.2rem 0.1rem 1rem #0974b9, 0.2rem 0.1rem 1rem #0974b9,
            0 -0.5rem 2rem #91d1fb, 0 0.5rem 3rem #80c0eb;
    }
}

@-webkit-keyframes flicker {
    from {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    4% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    6% {
        opacity: 0.85;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    }

    8% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    10% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    11% {
        opacity: 0.922;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
    }

    12% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    14% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    16% {
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    }

    17% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    19% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    20% {
        opacity: 0.99;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    }

    24% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    26% {
        opacity: 0.94;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=94)";
    }

    28% {
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    }

    37% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    38% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }

    39% {
        opacity: 0.96;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
    }

    42% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    44% {
        opacity: 0.97;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
    }

    46% {
        opacity: 0.94;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=94)";
    }

    56% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    58% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    60% {
        opacity: 0.99;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    }

    68% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    70% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    72% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    93% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    95% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    97% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes flicker {
    from {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    4% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    6% {
        opacity: 0.85;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    }

    8% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    10% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    11% {
        opacity: 0.922;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
    }

    12% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    14% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    16% {
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    }

    17% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    19% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    20% {
        opacity: 0.99;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    }

    24% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    26% {
        opacity: 0.94;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=94)";
    }

    28% {
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    }

    37% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    38% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }

    39% {
        opacity: 0.96;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
    }

    42% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    44% {
        opacity: 0.97;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
    }

    46% {
        opacity: 0.94;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=94)";
    }

    56% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    58% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    60% {
        opacity: 0.99;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    }

    68% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    70% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    72% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    93% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    95% {
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    }

    97% {
        opacity: 0.93;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
    }

    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}